body {
        margin:0;
        padding:0;
}


#adArea {
    background: #FFC107;
    color: #333;
    overflow: hidden;
    text-overflow: clip;
    cursor:pointer;
    -ms-touch-action: "pan-down";
    touch-action: "pan-down";
}

#scratch { 
    background-image: url("//srpp.cubex.tech/brac_chicken/package/300250/images/scratch.png"); 
    background-size: 100% 100%;
}


#ctx {
    -ms-touch-action: "pan-down";
    touch-action: "pan-down";
    top:0px;
    left:0px;
}

#bg1 {}

#endAnimCont {
    -ms-transform: scale(0.85, 0.85);
    -webkit-transform: scale(0.85, 0.85);
    transform: scale(0.85, 0.85);
}

.scalex05 {
    position:absolute;
    width:600px;
    height:500px;

    transform-origin: 0% 0%;
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
}
.scalex06 {
    position:absolute;
    width:300px;
    height:250px;
    transform-origin: 0% 0%;
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
}


.rct {
    width:300px;
    height:250px;
    position: absolute;
}

.opacity0 {
    opacity: 0;
}

.noEvents {
    pointer-events : none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            user-drag: none
}

@keyframes pulse {
    0% {
        transform: scaleX(.90)
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05)
    }
    to {
        transform: scaleX(.90)
    }
}
.pulse {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}